<div class="main_container pt-3">
    <div class="flex items-center mb-3">
        <p class="font-Bold text-xl text-color">Inbox</p>
        <button class="ml-auto p-0">
            <div class="rounded-full inbox_action_btn flex items-center justify-center bg-white">
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
        </button>
        <button class="p-0 ml-2">
            <div class="rounded-full inbox_action_btn flex items-center justify-center bg-white">
                <i class="fa-solid fa-trash-can"></i>
            </div>
        </button>
    </div>
    <table cellspacing="0" cellpadding="0"class="w-100">
        <tr>
          <td>
             <table cellspacing="0" cellpadding="1"  class="w-100 theme_background head_table">
               <tr>
                  <th>Sender</th>
                  <th>Subject</th>
                  <th class="text-right position-relative right-14">View</th>
               </tr>
             </table>
          </td>
        </tr>
        <tr>
          <td>
             <div class="w-100 table_content overflow-auto">
               <table cellspacing="0" cellpadding="1" class="w-100">
                 <tr>
                   <td>Shimon Chouhan</td>
                   <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                   <td  routerLink="mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                 </tr>
                 <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  <tr>
                    <td>Shimon Chouhan</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td  routerLink="/mail-component"><i class="fa-solid fa-arrow-right"></i></td>
                  </tr>
                  

               </table>  
             </div>
          </td>
        </tr>
    </table>
</div>